@inherits ReactiveComponentBase<SecondModalViewModel>
<h3>SecondModalView</h3>

<button class="btn-primary" @onclick="()=>ViewModel?.PushPage.Execute().Subscribe()">Push Page</button>
<button class="btn-primary" @onclick="()=>ViewModel?.PopModal.Execute().Subscribe()">Pop Modal</button>

@code {
    protected override Task OnInitializedAsync()
    {
        SextantSample.ViewModels.Interactions
                .ErrorMessage
                .RegisterHandler(x =>
                {
                    System.Diagnostics.Debug.WriteLine(x.Input.Message);
                    x.SetOutput(true);
                });
        return Task.CompletedTask;
    }
}
