@inherits ReactiveComponentBase<SecondModalViewModel>
<h3>SecondModalView</h3>

<button class="btn-primary" @onclick="()=>ViewModel?.PushPage.Execute().Catch(Observable.Return(Unit.Default)).Subscribe()">Push Page</button>
<button class="btn-primary" @onclick="()=>ViewModel?.PopModal.Execute().Catch(Observable.Return(Unit.Default)).Subscribe()">Pop Modal</button>

@code {
    [Inject] IJSRuntime jSRuntime { get; set; }

    protected override Task OnInitializedAsync()
    {
        SextantSample.ViewModels.Interactions
                .ErrorMessage
                .RegisterHandler(x =>
                {
                    jSRuntime.InvokeVoidAsync("alert", x.Input.Message);
                    x.SetOutput(true);
                });
        return Task.CompletedTask;
    }
}
